language: php

php:
  - "7.1"
  - "7.2"
  - "7.3"
  - "7.4"
  - "8.0"

sudo: false

install: travis_retry composer install --no-interaction --prefer-source

before_script:
  - travis_retry composer self-update
  - composer install --dev --prefer-source
  - mv phpunit.xml.dist phpunit.xml

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
